/* GENERAL */

body{
    background-image: url("../pictures/background.png");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Fredoka', sans-serif;
}
input[type=number]{
  width: 10%;
  padding: 10px 0px;
  box-sizing: border-box;
  background-color: #9b9b9b;
  font-family: 'Fredoka', sans-serif;
}
#i,#i2,#o,#o2{
    color: black;
    background-color: #9b9b9b;
    padding: 6px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 640;
    font-family: 'Fredoka', sans-serif;
}
::placeholder{
    color: #303030;
    font-size: 13px;
    font-weight: 640;
    font-style: italic;
}

/* CONVERTER MASS */

.converterMass{
    text-align: center;
    margin-top: 250px;
}

/* CONVERTER DISTANCE */

.converterDistance{
    text-align: center;
    margin-top: 100px;
}

/* NAMN */

#watermark{
    color: white;
    margin-top: 400px;
    text-align: right;
    margin-right: 50px;
    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
}